# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environments
.env
.venv
env/
venv/
venv_prod/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Custom
mingit/
*.zip
*.lnk
backups/
staticfiles/
*.crt
*.key

