[phases.setup]
nixPkgs = ["python3", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python backend/manage.py collectstatic --noinput"]

[start]
cmd = "cd backend && gunicorn backend.wsgi --log-file -"
