[phases.setup]
nixPkgs = ["python310", "postgresql", "gcc", "zlib", "libjpeg", "openjpeg", "pkg-config", "monitor", "procps"]

[phases.install]
cmds = ["python -m pip install -U pip", "python -m pip install -r requirements.txt"]

[start]
cmd = "sh -c 'cd backend && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn backend.wsgi --log-file -'"
